@import url('https://fonts.googleapis.com/css2?family=Gochi+Hand&family=Schoolbell&display=swap');
/* @import url('https://fonts.googleapis.com/css2?family=Schoolbell&display=swap'); */
@import "tailwindcss";
@import "tw-animate-css";



.gochi-hand-regular {
  font-family: "Gochi Hand", cursive;
  font-weight: 400;
  font-style: normal;
}


