@import url('https://fonts.googleapis.com/css2?family=Gochi+Hand&family=Schoolbell&display=swap');
/* @import url('https://fonts.googleapis.com/css2?family=Schoolbell&display=swap'); */
@import "tailwindcss";
@import "tw-animate-css";



.gochi-hand-regular {
  font-family: "Gochi Hand", cursive;
  font-style: normal;
  color: beige;
}


.background {
  width: 100%;
  height: 100%;
  z-index: 0;
  --color: rgba(114, 114, 114, 0.3);
  background-color: #191a1a;
  background-image: linear-gradient(0deg, transparent 24%, var(--color) 25%, var(--color) 26%, transparent 27%,transparent 74%, var(--color) 75%, var(--color) 76%, transparent 77%,transparent),
      linear-gradient(90deg, transparent 24%, var(--color) 25%, var(--color) 26%, transparent 27%,transparent 74%, var(--color) 75%, var(--color) 76%, transparent 77%,transparent);
  background-size: 55px 55px;
}