/* Notepad.module.css */
.notepad {
    position: relative;
    width: 80%;
    padding: 30px;
    margin: 100px auto;
    text-align: center;
    background-color: #F6F6F6;
    min-height: 400px;
    /* Resizable property */
    resize: vertical;
    overflow: auto;
  
    /* Standard CSS replacement for the Compass background mixin */
    background-image: 
      linear-gradient(to bottom, rgba(246, 246, 246, 0), #FCFCFC), 
      linear-gradient(to bottom, #F6F6F6, #F6F6F6 30px, #EAEAEA 31px);
    
    background-size: 100%, 100% 31px;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.2);
  }
  
  .notepad::before {
    content: '';
    height: 47px;
    width: 100%;
    position: absolute;
    top: -47px;
    left: 0;
    background: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/2065/paper_1.jpg');
    box-shadow: 0 10px 4px rgba(0, 0, 0, 0.2);
    z-index: -1;
  }
  
  .title {
    font-size: 2em;
    font-family: Helvetica, Arial, sans-serif;
    color: #323232;
    margin-bottom: 20px;
  }
  
  .content {
    line-height: 31px; /* Matches the line spacing of the background */
    text-align: left;
    color: #555;
  }